USE [master]
GO
/****** Object:  Database [sportiroda]    Script Date: 1/9/2022 7:01:05 PM ******/
CREATE DATABASE [sportiroda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sportiroda', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sportiroda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sportiroda_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sportiroda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sportiroda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sportiroda]
GO
/****** Object:  Table [dbo].[tipus]    Script Date: 1/9/2022 7:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus](
	[tipus_id] [int] IDENTITY(1,1) NOT NULL,
	[nev] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[tipus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nevezes]    Script Date: 1/9/2022 7:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nevezes](
	[nevezes_id] [int] IDENTITY(1,1) NOT NULL,
	[verseny_id] [int] NULL,
	[versenyzo_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nevezes_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[verseny]    Script Date: 1/9/2022 7:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[verseny](
	[verseny_id] [int] IDENTITY(1,1) NOT NULL,
	[tipus_id] [int] NULL,
	[nevezesi_dij] [int] NULL,
	[datum] [date] NULL,
	[kezdesido] [time](7) NULL,
	[szintido] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[verseny_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[versenyzo]    Script Date: 1/9/2022 7:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[versenyzo](
	[versenyzo_id] [int] IDENTITY(1,1) NOT NULL,
	[nev] [varchar](30) NULL,
	[szuldatum] [date] NULL,
	[nem] [int] NULL,
	[email] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[versenyzo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OsszesAdat]    Script Date: 1/9/2022 7:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OsszesAdat]
AS
SELECT        dbo.nevezes.nevezes_id, dbo.versenyzo.nev AS vnev, YEAR({ fn CURDATE() }) - YEAR(dbo.versenyzo.szuldatum) AS szuldatum, CASE WHEN dbo.versenyzo.nem = 1 THEN 'férfi' ELSE 'nő' END AS nem, dbo.tipus.nev, 
                         dbo.verseny.datum, dbo.verseny.kezdesido, dbo.verseny.szintido, dbo.verseny.nevezesi_dij, dbo.versenyzo.email
FROM            dbo.nevezes INNER JOIN
                         dbo.verseny ON dbo.nevezes.verseny_id = dbo.verseny.verseny_id INNER JOIN
                         dbo.tipus ON dbo.verseny.tipus_id = dbo.tipus.tipus_id INNER JOIN
                         dbo.versenyzo ON dbo.nevezes.versenyzo_id = dbo.versenyzo.versenyzo_id
GO
/****** Object:  View [dbo].[Versenyek]    Script Date: 1/9/2022 7:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Versenyek]
AS
SELECT        dbo.tipus.nev, dbo.verseny.nevezesi_dij, dbo.verseny.datum, dbo.verseny.kezdesido, dbo.verseny.szintido
FROM            dbo.tipus INNER JOIN
                         dbo.verseny ON dbo.tipus.tipus_id = dbo.verseny.tipus_id
GO
SET IDENTITY_INSERT [dbo].[nevezes] ON 

INSERT [dbo].[nevezes] ([nevezes_id], [verseny_id], [versenyzo_id]) VALUES (1, 1, 32)
INSERT [dbo].[nevezes] ([nevezes_id], [verseny_id], [versenyzo_id]) VALUES (2, 1, 2)
INSERT [dbo].[nevezes] ([nevezes_id], [verseny_id], [versenyzo_id]) VALUES (3, 1, 16)
GO
SET IDENTITY_INSERT [dbo].[nevezes] OFF
GO
SET IDENTITY_INSERT [dbo].[tipus] ON 

INSERT [dbo].[tipus] ([tipus_id], [nev]) VALUES (1, N'Kerékpár')
INSERT [dbo].[tipus] ([tipus_id], [nev]) VALUES (2, N'Maraton')
INSERT [dbo].[tipus] ([tipus_id], [nev]) VALUES (3, N'Tájfutás')
SET IDENTITY_INSERT [dbo].[tipus] OFF
GO
SET IDENTITY_INSERT [dbo].[verseny] ON 

INSERT [dbo].[verseny] ([verseny_id], [tipus_id], [nevezesi_dij], [datum], [kezdesido], [szintido]) VALUES (1, 2, 4000, CAST(N'2013-03-11' AS Date), CAST(N'12:00:00' AS Time), CAST(N'05:00:00' AS Time))
INSERT [dbo].[verseny] ([verseny_id], [tipus_id], [nevezesi_dij], [datum], [kezdesido], [szintido]) VALUES (2, 5, 4000, CAST(N'2013-04-05' AS Date), CAST(N'14:30:00' AS Time), CAST(N'05:15:00' AS Time))
INSERT [dbo].[verseny] ([verseny_id], [tipus_id], [nevezesi_dij], [datum], [kezdesido], [szintido]) VALUES (3, 1, 7500, CAST(N'2013-04-18' AS Date), CAST(N'14:30:00' AS Time), CAST(N'04:15:00' AS Time))
SET IDENTITY_INSERT [dbo].[verseny] OFF
GO
SET IDENTITY_INSERT [dbo].[versenyzo] ON 

INSERT [dbo].[versenyzo] ([versenyzo_id], [nev], [szuldatum], [nem], [email]) VALUES (1, N'Tóth Tamás', CAST(N'1970-08-17' AS Date), 1, N'toth.tamas@freemail.hu')
INSERT [dbo].[versenyzo] ([versenyzo_id], [nev], [szuldatum], [nem], [email]) VALUES (2, N'Andrási Mátyás', CAST(N'1967-05-20' AS Date), 1, N'andrasi.matyas@gmail.com')
INSERT [dbo].[versenyzo] ([versenyzo_id], [nev], [szuldatum], [nem], [email]) VALUES (3, N'Halmosi Petra', CAST(N'1970-07-12' AS Date), 0, N'halmosip@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[versenyzo] OFF
GO
ALTER TABLE [dbo].[nevezes]  WITH CHECK ADD  CONSTRAINT [FK_nevezes_verseny] FOREIGN KEY([verseny_id])
REFERENCES [dbo].[verseny] ([verseny_id])
GO
ALTER TABLE [dbo].[nevezes] CHECK CONSTRAINT [FK_nevezes_verseny]
GO
ALTER TABLE [dbo].[nevezes]  WITH CHECK ADD  CONSTRAINT [FK_nevezes_versenyzo] FOREIGN KEY([versenyzo_id])
REFERENCES [dbo].[versenyzo] ([versenyzo_id])
GO
ALTER TABLE [dbo].[nevezes] CHECK CONSTRAINT [FK_nevezes_versenyzo]
GO
ALTER TABLE [dbo].[verseny]  WITH CHECK ADD  CONSTRAINT [FK_verseny_tipus] FOREIGN KEY([tipus_id])
REFERENCES [dbo].[tipus] ([tipus_id])
GO
ALTER TABLE [dbo].[verseny] CHECK CONSTRAINT [FK_verseny_tipus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "nevezes"
            Begin Extent = 
               Top = 11
               Left = 706
               Bottom = 124
               Right = 876
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "verseny"
            Begin Extent = 
               Top = 0
               Left = 406
               Bottom = 199
               Right = 576
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tipus"
            Begin Extent = 
               Top = 14
               Left = 97
               Bottom = 110
               Right = 267
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "versenyzo"
            Begin Extent = 
               Top = 12
               Left = 948
               Bottom = 196
               Right = 1118
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2130
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OsszesAdat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OsszesAdat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tipus"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "verseny"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 229
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Versenyek'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Versenyek'
GO
USE [master]
GO
